body {
    font-family: Arial, sans-serif;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    position: relative;
}

th {
    cursor: col-resize;
}

.resizer {
    display: inline-block;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: col-resize;
    z-index: 1;
    background-color: #f2f2f2;
}